*{
    margin: 0;
    padding: 0;
}


body
{
    margin: 1rem;
    padding: 1rem;
    display: flexbox;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.links
{
    text-decoration: none;
    color: black;
}